# === Python ===
venv/
__pycache__/
*.pyc

# === IDE ===
.idea/
.vscode/

# === Data (NO RAW FILES) ===
data/raw/
data/curated/
data/processed/images/
data/processed/labels/
data/synthetic/

# Keep structure only
!data/**/.gitkeep
!data/data_summary.md
!data/processed/data.yaml

# === Experiments ===
experiments/checkpoints/

# === OS ===
.DS_Store
Thumbs.db

# === DEPLOYMENT MODULE ===
# Ignore environment khusus deployment
deployment/app_env/

# Ignore heavy assets di folder deployment
deployment/map/
deployment/*.pt
deployment/*.onnx

# Ignore output files
deployment/*.csv
deployment/*.log

# Ignore PyInstaller builds (jika nanti kamu generate exe)
deployment/build/
deployment/dist/
deployment/*.spec

.ipynb_checkpoints/
experiments/validation_report/

.agents/
